<div class="card mb-4">
  <div class="card-img-wrapper">
    <img
      class="card-img-top"
      src="{{ user.mainPhotoUrl || '../../../../../../assets/userpic.png' }}"
      [routerLink]="['/members', user.id]"
      alt="{{ user.username }}"
    />
  </div>
  <div class="card-body p-1">
    <ul class="list-inline member-icons animate text-center">
      <li class="list-inline-item">
        <button class="btn btn-primary" [routerLink]="['/members', user.id]">
          <i class="fa fa-user"></i>
        </button>
      </li>
      <li *ngIf="!user.isLiked" class="list-inline-item">
        <button class="btn btn-primary" (click)="sendLike()">
          <i class="fas fa-thumbs-up"></i>
        </button>
      </li>
      <li *ngIf="user.isLiked" class="list-inline-item">
        <button class="btn btn-primary" (click)="sendDislike()">
          <i class="fas fa-thumbs-down"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button
          class="btn btn-primary"
          [routerLink]="['/members', user.id]"
          [queryParams]="{ tab: 3 }"
        >
          <i class="fa fa-envelope"></i>
        </button>
      </li>
    </ul>
    <h6 class="card-title text-center mb-1">
      <i class="fa fa-user"></i> {{ user.username | titlecase }}, {{ user.age }}
    </h6>
    <p class="card-text text-muted text-center">{{ user.city }}</p>
  </div>
</div>
