<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <div class="navbar-brand">People.md(2.0)</div>

    <ul *ngIf="isLoggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/members">
          Members
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/likes">Likes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/messages">Messages</a>
      </li>
      <li *appIsAuthorized="['Admin']" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin">Admin</a>
      </li>
    </ul>
    
    <div *ngIf="isLoggedIn()" ngbDropdown class="d-inline-block">
      <button class="btn text-light" id="dropdownBasic1" ngbDropdownToggle>
        Welcome, {{ auth.decodedToken.unique_name | titlecase }}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem [routerLink]="['/member/edit', this.auth.decodedToken.nameid]  ">
          <i style="padding-right: 0.5rem" class="fas fa-user-edit"></i>
          Edit profile
        </button>
        <button ngbDropdownItem (click)="logout()">
          <i style="padding-right: 0.5rem" class="fas fa-sign-out-alt"></i>
          Logout
        </button>
      </div>
    </div>
  
    <app-login-form *ngIf="!isLoggedIn()"></app-login-form>
  </div>
  
</nav>