<div class="container mt-5">
  <h2>{{ messagesPaginationParams.messageType | titlecase }}</h2>
  <div class="row">
    <div class="btn-group">
      <button class="btn btn-primary" (click)="changeMessagesType('unread')">
        <i class="fa fa-envelope"></i> Unread
      </button>
      <button class="btn btn-primary" (click)="changeMessagesType('inbox')">
        <i class="fa fa-envelope-open"></i> Inbox
      </button>
      <button class="btn btn-primary" (click)="changeMessagesType('outbox')">
        <i class="fa fa-paper-plane"></i> Outbox
      </button>
    </div>
  </div>

  <div class="row" *ngIf="messages.length == 0">
    <h3>No messages</h3>
  </div>

  <div class="row" *ngIf="messages.length > 0">
    <table class="table table-hover" style="cursor: pointer;">
      <tr>
        <th style="width: 40%;">Message</th>
        <th style="width: 20%;">
          {{
            messagesPaginationParams.messageType == 'unread' ||
            messagesPaginationParams.messageType == 'inbox'
              ? 'From'
              : 'To'
          }}
        </th>
        <th style="width: 20%;">
          {{
            messagesPaginationParams.messageType == 'unread' ||
            messagesPaginationParams.messageType == 'inbox'
              ? 'Received'
              : 'Sent'
          }}
        </th>
        <th style="width: 20%;"></th>
      </tr>
      <tr
        *ngFor="let message of messages"
        [routerLink]="[
          '/members',
          messagesPaginationParams.messageType == 'outbox'
            ? message.recipientId
            : message.senderId
        ]"
        [queryParams]="{ tab: 3 }"
      >
        <td>{{ message.content }}</td>
        <td>
          <div *ngIf="messagesPaginationParams.messageType != 'outbox'">
            <img
              src="{{ message?.senderPhotoUrl }}"
              class="img-circle rounded-circle mr-2"
            />
            <strong>{{ message.senderUsername }}</strong>
          </div>
          <div *ngIf="messagesPaginationParams.messageType == 'outbox'">
            <img
              src="{{ message?.recipientPhotoUrl }}"
              class="img-circle rounded-circle mr-2"
            />
            <strong>{{ message.recipientUsername }}</strong>
          </div>
        </td>
        <td>{{ message.dateSent | timeago: false }}</td>
      </tr>
    </table>
  </div>
</div>

<div class="d-flex justify-content-center">
  <ngb-pagination
    [boundaryLinks]="true"
    [pageSize]="messagesPaginationParams.paginationInfo.pageSize"
    [collectionSize]="messagesPaginationParams.paginationInfo.totalItems"
    [(page)]="messagesPaginationParams.paginationInfo.pageNumber"
    (pageChange)="loadNextPage()"
    aria-label="Default pagination"
  ></ngb-pagination>
</div>
