<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">People.md(2.0)</a>

    <ul *ngIf="isLoggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Likes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
    </ul>
    
    <div *ngIf="isLoggedIn()" ngbDropdown class="d-inline-block">
      <button class="btn text-light" id="dropdownBasic1" ngbDropdownToggle>Welcome, {{ auth.decodedToken.unique_name | titlecase }}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>
          <i style="padding-right: 0.5rem" class="fas fa-user-edit"></i>
          Edit profile
        </button>
        <button ngbDropdownItem (click)="logout()">
          <i style="padding-right: 0.5rem" class="fas fa-sign-out-alt"></i>
          Logout
        </button>
      </div>
    </div>
  
    <app-login-form *ngIf="!isLoggedIn()"></app-login-form>
  </div>
  
</nav>