<form [formGroup]="regForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr />

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          !regForm.get('username').valid && regForm.get('username').touched
      }"
      formControlName="username"
      type="text"
      class="form-control"
      placeholder="Username"
    />
    <div class="invalid-feedback">Username is required</div>
  </div>

  <div class="form-group">
    <label class="control-label" style="margin-right: 10px;">Gender: </label>
    <label class="radio-inline">
      <input
        class="mr-3"
        type="radio"
        value="male"
        formControlName="gender"
      />Male
    </label>
    <label class="radio-inline ml-3">
      <input
        class="mr-3"
        type="radio"
        value="female"
        formControlName="gender"
      />Female
    </label>
  </div>

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          regForm.get('dateOfBirth').errors &&
          regForm.get('dateOfBirth').touched
      }"
      class="form-control"
      placeholder="Date of Birth"
      formControlName="dateOfBirth"
      type="date"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        regForm.get('dateOfBirth').touched &&
        regForm.get('dateOfBirth').hasError('required')
      "
    >
      Date of Birth is required
    </div>
  </div>

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid': regForm.get('city').errors && regForm.get('city').touched
      }"
      class="form-control"
      placeholder="City"
      formControlName="city"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        regForm.get('city').touched && regForm.get('city').hasError('required')
      "
    >
      City is required
    </div>
  </div>

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          regForm.get('country').errors && regForm.get('country').touched
      }"
      class="form-control"
      placeholder="Country"
      formControlName="country"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        regForm.get('country').touched &&
        regForm.get('country').hasError('required')
      "
    >
      Country is required
    </div>
  </div>

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          !regForm.get('password').valid && regForm.get('password').touched
      }"
      formControlName="password"
      type="password"
      class="form-control"
      placeholder="Password"
    />
    <div
      class="invalid-feedback"
      *ngIf="regForm.get('password').hasError('required')"
    >
      Password is required
    </div>
    <div
      class="invalid-feedback"
      *ngIf="regForm.get('password').hasError('minlength')"
    >
      Password must containt more then 3 characters
    </div>
    <div
      class="invalid-feedback"
      *ngIf="regForm.get('password').hasError('maxlength')"
    >
      Password must containt less then 9 characters
    </div>
  </div>

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          (regForm.hasError('passwordMismatch') ||
            !regForm.get('passwordConfirm').valid) &&
          regForm.get('passwordConfirm').touched
      }"
      formControlName="passwordConfirm"
      type="password"
      class="form-control"
      placeholder="Password confirmation"
    />
    <div
      class="invalid-feedback"
      *ngIf="regForm.get('passwordConfirm').hasError('required')"
    >
      Confrimation is required
    </div>
    <div class="invalid-feedback" *ngIf="regForm.hasError('passwordMismatch')">
      Passwords must be the same
    </div>
  </div>

  <div class="form-group text-center">
    <button [disabled]="!regForm.valid" class="btn btn-success" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel.emit()">
      Cancel
    </button>
  </div>
</form>